/* Style dos botoes de reload e delete local storage */
.buttons-config{
    top: 10px;
    right: 15px;
    max-width: 175px;
    width: 40vw;
    font-size: 10px;
    position: fixed;
    z-index: 1;
}


/* ajuste no tamanho da fonte  de reload e delete local storage*/
.buttons-config > .btn{
    font-size: 12px;
}