/* Ajuste no style do alert */
.alert{
    position: fixed;
    top: 10px;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    width: 70vw;
    max-width: 500px;
    font-size: 1.2rem;
    z-index: 3;
}

/* Container style*/
.container{
    background-color: honeydew;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 25px;
    border-radius: 3px;
}

/* Ajustes do elementos dentro do container */
.dog-img{
    margin: 0 auto;
    margin-top: 10px;
    width: 70vw;
    max-width: 350px;
    height: 70vw;
    max-height: 350px;
    font-size: 1rem;
    border-radius: 3px;
    object-fit: cover;
}