/* Ajuste no style do alert */
.alert{
    position: fixed;
    top: 10px;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    width: 70vw;
    max-width: 500px;
    font-size: 1.2rem;
    z-index: 3;
}

/* Container style*/
.container{
    background-color: honeydew;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 25px;
    border-radius: 3px;
}

/* Ajustes imagem do cachorro */
.dog-img{
    max-height: 350px;
    height: 70vw;
    border-radius: 3px;
    object-fit: cover;
}

/* Ajustes do elementos dentro do container */
.dog-img,
.select-breed, 
.input-name-dog, 
.button-save, 
.select-font-family, 
.select-font-color{
    margin: 0 auto;
    margin-top: 10px;
    width: 70vw;
    max-width: 350px;
    font-size: 1rem
}

/* Style dos botoes de reload e delete local storage */
.buttons-config{
    top: 10px;
    right: 15px;
    max-width: 175px;
    width: 40vw;
    font-size: 10px;
    position: fixed;
    z-index: 1;
}

/* ajuste no tamanho da fonte  de reload e delete local storage*/
.buttons-config > .btn{
    font-size: 12px;
}

/* Style dos textos dentro da imagem do cachorro */
.label-name{
    bottom: 10px;
    right: 10px;
    height: 130px;
    max-width: 165px;
    width: 45vw;
    border-radius: 5px;
    padding: 10px;
    background: #ffffffa3;
    position: absolute;
    display: grid;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* removendo o padrao de margin borrom do bootstrap */
.label {
    margin-bottom: 0px; 
}

/* Ajustando a div da imagem para setar as informacoes fixadas (fixed) */
.div-img-label{
    position: relative;
}

/* ajustes nas labels de informacoes dentro da imagem */
.label-name > label{
    font-size: 0.6em;
    color: black;
    font-weight: bold;
    flex-wrap: wrap;
}

/* Ajustando resposividade da fonte nas labels de informacoes dentro da imagem */
@media all and (min-width: 500px) {
    .label-name > label{
        font-size: 12px;;
    }
}

/* Ajustando resposividade da fonte nas labels de informacoes dentro da imagem */
@media all and (min-width: 960px) {
    .label-name > label{
        font-size: 14px;
    }
}

/*  Ajustando resposividade das labels de informacoes dentro da imagem */
@media all and (max-width: 960px) {
    .label-name{
        bottom: 7px;
        right: 7px;
        height: 115px;
        max-width: 165px;
        width: 35vw;
        border-radius: 5px;
        padding: 10px;
    }
}

