
/* removendo o padrao de margin borrom do bootstrap */
.label {
    margin-bottom: 0px; 
    
}

/* Ajustando a div da imagem para setar as informacoes fixadas (fixed) */
.div-img-label{
    position: relative;
}

/* Style dos textos dentro da imagem do cachorro */
.label-name{
    bottom: 10px;
    right: 10px;
    height: 130px;
    padding: 3px;
    width: auto;
    border-radius: 5px;
    background: #ffffffa3;
    position: absolute;
    display: grid;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* ajustes nas labels de informacoes dentro da imagem */
.label-name > label{
    font-size: 0.6em;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}

/* Ajustando resposividade da fonte nas labels de informacoes dentro da imagem */
@media all and (min-width: 500px) {
    .label-name > label{
        font-size: 12px;;
    }
}

/* Ajustando resposividade da fonte nas labels de informacoes dentro da imagem */
@media all and (min-width: 960px) {
    .label-name > label{
        font-size: 14px;
        padding-top: 4px;
    }
}

/*  Ajustando resposividade das labels de informacoes dentro da imagem */
@media all and (max-width: 960px) {
    .label-name{
        bottom: 7px;
        right: 7px;
        height: 115px;
        border-radius: 5px;
        padding: 10px;
    }
}
